<footer>
    <div class="footer-wrapper">
        <div class="footer-top">
            <div class="main-title">
                <img src="../images/footer/Portland.png" alt="">
            </div>
            <div class="media-icons">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-google-plus-g"></i>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p class="left">She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.</p>
            <div class="right">
                <span>Privacy Policy</span><span>Terms and Conditions</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>