<header>
    <nav>
        <div class="main-title">
            <img src="../images/header/Portland.png" alt="">
        </div>
        <ul>
            <li>
                <img src="../images/header/Shopping_Cart_Icon.png" alt="">
                <a href="#">Cart</a>
                <span>0</span>
            </li>
            <li>
                <button class="signUpBtn">
                    <a href="#">Sign In</a>
                </button>
            </li>
        </ul>
    </nav>
</header>